
/* Restablecer estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general para el cuerpo */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  background-image: url("img/fondo_scrolleable.png");
  background-repeat: repeat;
  animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: -499px 499px; } /* Movimiento del fondo */
}

/* Tabla y filas */
.caballos {
  border-collapse: collapse;
}

.row {
  display: flex;
}

input[type="range"] {
  width: 100%; /* Hacer que el slider ocupe todo el ancho de la celda */
  height: 10px;
  background: #ddd;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: url("img/k.png");
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;  /* Necesario para evitar los estilos predeterminados en WebKit */

}

.aposCab{
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 100%;
}

.botones-desabilitados {
background-color: #ccc;
color: #888;
cursor: not-allowed;
pointer-events: none;
}

/* Estilo de las casillas */
.square {
  width: 1000px;
  height: 100px;
  background-color: white;
  margin: 5px;
  border-collapse: collapse;
}

/* Estilos de los botones */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para los contenedores fijos */
.rectangle-bet {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.rectangle-top {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.rectangle-wide {
  position: fixed;
  top: 0;
  left: 30%;
  width: 40%;
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: rgb(201, 201, 57);
  }
  100% {
    background-color: red;
  }
}

/* Estilo de la ola */
.wave-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: -1; /* Para que la ola quede detrás del contenido */
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2);
  clip-path: ellipse(60% 40% at 50% 100%);
  animation: wave-animation 3s ease-in-out infinite;
}
.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: rgba(230, 255, 2, 0.2);
  clip-path: ellipse(60% 40% at 50% 100%);
  animation: wave-animation 2s ease-in-out infinite;
}

@keyframes wave-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Resto de los estilos de los botones */
.button-container {
  margin-top: 20px;
}

.button-reset {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  animation: blink 1s infinite;
}

.buttonAPOSTARX {
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

.buttonAPOSTTODO {
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #c32c2c 50%, #028dff 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

/* Estilo para la imagen */
.responsive-image {
  width: 100px;
  height: auto;
  object-fit: cover;
}

/* Multiplicador animado */
.multiplier-container {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.multiplier-container:hover {
  transform: scale(1.05);
}


/* Estilos para la pista */
.track {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-image: url("img/camino.png");
  background-size: contain;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el corredor */
.runner {
  width: 75px;
  height: 75px;
  transform: scaleX(-1);
  background-size: contain;
  position: absolute;
  left: 0;
  transition: left 0.1s ease;
}

#runner1 {
  background-image: url("img/caballo1.png");
}

#runner2 {
  background-image: url("img/caballo2.png");
}

#runner3 {
  background-image: url("img/caballo3.png");
}

#runner4 {
  background-image: url("img/caballo4.png");
}

#runner5 {
  background-image: url("img/caballo5.png");
}

#runner6 {
  background-image: url("img/caballo6.png");
}